{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            <div class="form-group">
            <h4 class="font-weight-bold" for="exampleFormControlTextarea1">Enter your note</h4>
            <textarea class="form-control" id="data" name="data" rows="3"></textarea>
        </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit Note</button>
            </div>
        </form>
    </div>
<br>
    <div class="container">
        <h3>Your Notes</h3>
        <div class="container">
            <ul class="list-group">
                {% for note in user.notes%}
                <li class="list-group-item">
                    {{note.data}}
                    <button type="button" class="close" onclick="deleteNote({{note.id}})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}